html
	head

		meta(charset="utf-8")
		meta(name="viewport" content="width=device-width, initial-scale=1.0")
		link(rel="shortcut icon" type="image/png" href="")

		title Vibration recorder

		script(src="/socket.io/socket.io.js")

		style.
			html{
				font-family: Arial;
			}

			header{
				text-align: center;
			}

			#video{
				display: block;
				margin: 0 auto;
			}

			div.recorder,
			div.vibration{
				display: block;
				margin: 0 auto;
				padding: 32px;
				text-align: center;
			}

			div.vibration{
				border-radius: 2px;
				border: solid lightgrey 1px;
				margin: 16px auto;
				width: 250px; 
				padding-top: 0;
			}

			div.recorder span.rec{
				display: block;
				width: 40px;
				color: transparent;
				height: 40px;
				border-radius: 50%;
				background: #f44242;
				cursor: pointer;
				box-shadow: 0 0 0 rgba(244, 66, 66, 0.4);
				animation: pulse 2s infinite;
				margin: 40px auto;
			}

			@-webkit-keyframes pulse {
			  0% {
			    -webkit-box-shadow: 0 0 0 0 rgba(244, 66, 66, 0.4);
			  }
			  70% {
			      -webkit-box-shadow: 0 0 0 10px rgba(244, 66, 66, 0);
			  }
			  100% {
			      -webkit-box-shadow: 0 0 0 0 rgba(244, 66, 66, 0);
			  }
			}
			@keyframes pulse {
			  0% {
			    -moz-box-shadow: 0 0 0 0 rgba(244, 66, 66, 0.4);
			    box-shadow: 0 0 0 0 rgba(244, 66, 66, 0.4);
			  }
			  70% {
			      -moz-box-shadow: 0 0 0 10px rgba(244, 66, 66, 0);
			      box-shadow: 0 0 0 10px rgba(244, 66, 66, 0);
			  }
			  100% {
			      -moz-box-shadow: 0 0 0 0 rgba(244, 66, 66, 0);
			      box-shadow: 0 0 0 0 rgba(244, 66, 66, 0);
			  }
			}

			div.recorder div.vibration,
			div.recorder span.rec{
				display: none;
			}


			div.recorder[data-recording="true"] span.rec{
				display: block;
			}

			div.recorder[data-recording="false"] div.vibration{
				display: block;
			}

			button{
				padding: 8px 16px;
				font-size: 16px;
				margin: 4px;
			}

			nav span{
				float: right;
				font-weight: bold;
			}
	body
		nav
			a(href="/calibrate") calibration
			|  
			a(href="/setup") setup
			|  
			a(href="#", id="reset") reset
			|  
			span #{ order.join(' - ') }

		div
			header
				h1 Vibration recorder

			div(id="video")

			div(class="recorder", id="recorder")
	
				button(id="record-btn") Record

				span(class="rec") rec

				div(class="Vibration")

					p Vibration
					button(id="playback-btn") Playback
					button(id="submit-btn") Submit
			
		script(type='text/javascript').

			const ACTION = !{ JSON.stringify(ACTION) }; //get ACTION from server
			const calibrated = !{ calibrated };
			const recording = !{ recording };

			if(recording)
			{
				document.getElementsByClassName('recorder')[0]
					.setAttribute('data-recording', false);
			}

			const socket = io();

			document.getElementById('record-btn')
				.addEventListener('click', (event) =>
				{
					if(!calibrated)
					{
						alert('You need to calibrate');
						return;
					} 

					const button = event.target || event.srcElement;

					if(button.recording)
					{
						socket.emit(ACTION.STOP_RECORDING);
						button.innerHTML = 'Record';
						button.recording = false;

						document.getElementsByClassName('recorder')[0]
							.setAttribute('data-recording', false);
					}
					else
					{
						socket.emit(ACTION.RECORD);
						button.innerHTML = 'Stop';
						button.recording = true;

						document.getElementsByClassName('recorder')[0]
							.setAttribute('data-recording', true);
					}
				});

			document.getElementById('playback-btn')
				.addEventListener('click', (event) =>
				{
					const button = event.target || event.srcElement;

					if(button.playback)
					{
						socket.emit(ACTION.STOP_PLAYBACK);
						button.innerHTML = 'Playback';
						button.playback = false;
					}
					else
					{
						socket.emit(ACTION.PLAYBACK);
						button.innerHTML = 'Stop';
						button.playback = true;
					}
				});

			document.getElementById('submit-btn')
				.addEventListener('click', (event) =>
				{
					event.preventDefault();
					socket.emit(ACTION.SUBMIT);
				});

			document.getElementById('reset')
				.addEventListener('click', (event) =>
				{
					socket.emit(ACTION.RESET);
					window.location.href = '/calibrate';
				});

			socket.on(ACTION.NEXT_GESTURE, function(data)
			{
				player.cueVideoById(data.gesture);
				document.getElementsByClassName('recorder')[0]
							.removeAttribute('data-recording');
			});

			socket.on(ACTION.STOP_PLAYBACK, function(data)
			{
				let button = document.getElementById('playback-btn');
				button.innerHTML = 'Playback';
				button.playback = false;
			});

			socket.on(ACTION.STOP_RECORDING, function(data)
			{
				let button = document.getElementById('record-btn');
				button.innerHTML = 'Record';
				button.recording = false;
			});

			socket.on(ACTION.DONE, function(data)
			{
				window.location.href = '/thanks';
			});

			// Load the IFrame Player API code asynchronously.
			var tag = document.createElement('script');
			tag.src = "https://www.youtube.com/player_api";
			var firstScriptTag = document.getElementsByTagName('script')[0];
			firstScriptTag.parentNode.insertBefore(tag, firstScriptTag);

			var player;
			function onYouTubePlayerAPIReady()
			{
				player = new YT.Player('video', {
					height: '360',
					width: '640',
					playerVars: {
						showinfo: 0,
						autoplay : 0,
						rel : 0,
					},
					events: {
						onReady : function(e)
						{
							//- e.target.setPlaybackRate(1.5);
						},
					},
					videoId: '!{ currentGesture }'
				});
			}

